<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>AllBooks</servlet-name>
        <jsp-file>/allBooks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllBooks</servlet-name>
        <url-pattern>/all-books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddNewAuthor</servlet-name>
        <jsp-file>/addNewAuthor.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewAuthor</servlet-name>
        <url-pattern>/add-new-author</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddNewBook</servlet-name>
        <jsp-file>/addNewBook.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewBook</servlet-name>
        <url-pattern>/add-new-book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterOfBooks</servlet-name>
        <jsp-file>/registerOfBooks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterOfBooks</servlet-name>
        <url-pattern>/register-of-books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAccount</servlet-name>
        <jsp-file>/userAccount.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccount</servlet-name>
        <url-pattern>/user-account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminAccount</servlet-name>
        <jsp-file>/adminAccount.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAccount</servlet-name>
        <url-pattern>/admin-account</url-pattern>
    </servlet-mapping>
</web-app>